*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* color: #fff; */
}

html,
body {
    width: 100%;
    height: 100%;
    color: #fff;
    overflow-x: hidden;
}

.row span{
    margin-left: 10px;
    display: inline-block;
}

.textwrapper span:nth-child(1){
    margin-left: 0;
}
.textwrapper span{
    margin: 0 6px;
}
.row div {
    width: fit-content;
    overflow: hidden;
}

#main {
    font-family: "Aeonik";
    border-top: 1px solid transparent;
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
#nav{
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0vh 3vw;
}
#menu button{
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 100px;
    border: none;
    margin-right: 3vw;
    overflow: hidden;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu .open{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
}
#navbtn:hover #navbtn .open{
    height: 50px;
}
#menu i{
    font-size: 25px;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    min-height: 80vh;
    color: aliceblue;
}
.row h1{
    font-weight: 300;
}
.row {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    color: #fff;
    font-size: 4vw;
}
.row #line {
    display: inline-block;
    width: 45%;
    height: 2px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#hero .row:nth-child(3) {
    justify-content: flex-end;
}

#hero p {
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 0 3vw;
    justify-content: flex-end;
}

#hero>p i {
    margin-left: 5px;
    font-size: 12px;
}

#content {
    position: relative;
    z-index: 9999;
    margin-top: 75vh;
    width: 100%;
    /* background-color: grey; */
}

#video {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    /* height: 100vh; */
}

#video video {
    width: 100vw;
}

#desc {
    padding: 4vw;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
}

#desc h1 {
    font-size: 2.8vw;
    font-weight: 500;
}

#orbital {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 0 2vw;
}

#orbital h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: 400;
    gap: 2vw;
}

#orbital #line2 {
    display: inline-block;
    width: 80vw;
    height: 1px;
    background-color: rgb(72, 72, 72);
}

.rowtext h1 {
    font-size: 23vw;
    text-transform: uppercase;
    line-height: 20vw;
    font-weight: 400;

}

.rowtext {
    display: flex;
    align-items: center;
}

.rowtext span {
    padding: 1vh 1.6vw;
    border: 1px solid #fff;
    font-size: 1.5vw;
    border-radius: 100px;
}

#orbitalvideo {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#orbitalvideo video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;

}

#slides {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    border-top: 2px solid #555;
}

.slide {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
    height: 100vh;
    border-right: 2px solid #555;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2vw;
}

.tile h3 {
    font-weight: 400;
    font-size: 3.6vw;
    margin-bottom: 1vw;
}

.slide:hover .tile h3 {
    position: relative;
    z-index: 9999;
    color: #000;
}

.icon {
    overflow: hidden;
    position: relative;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #000;
}

.icon i {
    font-weight: 100;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .8s;
}

.slide:hover {
    cursor: pointer;
}

.slide:hover .icon #first {
    left: 130%;
}

#first {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#second {
    position: absolute;
    top: 120%;
    left: 0%;
}

.slide:hover .icon #second {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    position: absolute;
    bottom: -5%;
    font-size: 1.1vw;
    opacity: 0;
    padding: 0 2vw;
    font-weight: 500;
}

#slides .slide:hover .info {
    bottom: 5%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    opacity: 1;
    color: #000;
}

.opening {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
}

.slide:hover .opening {
    width: 100%;
}

#vdo{
    width: 25vw;
    height: 100vh;
    background-color: black;
}
.opener{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%,-50%);
    width: 0%;
    height: 100%;
}
#vdo video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
}
.goalgoal{
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 12px;
        height: 12px;
}
.goalgoal img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25vw;
    height: 25vh;
    animation: ball 10s linear infinite  both;
}   
#playBall{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
@keyframes ball {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
} 
#parent {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

#parent #text {
    color: #000;
    padding: 41vh 4vw;
    font-size: 2.5vw;
}

#parent #text h1 {
    font-weight: 400;
}

#container{
    width: 100%;
}
#company{
    overflow-x: auto;
    width: 93%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#company::-webkit-scrollbar{
    display: none;
}
.parent{
    display: flex;
    font-size: 1.2vw;
    width: 200%;
    height: 100%;
}
.parentcomp{
    margin-right: 4vw;
    color: #000;
}
.parentcomp p{
    margin-top: 12vh;
    margin-bottom: 12vh;
}
#work{
    position: relative;
    width: 100%;
    background-color: #ffff;
}

#fsworksection{
    text-transform: uppercase;
    font-size: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #000;
}

#fsworksection h1{
    font-weight: 400;
}

.card{
    position: absolute;
    color: #000;
}
.photu{
    position: relative;
}
.card img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.card p{
    font-size: 1.5vw;
}
#work .card:hover #work .card p{
    opacity: 1;
}

.card:nth-child(2){
    top: 125%;
    left: 5%;
}

.card:nth-child(3){
    top: 215%;
    left: 35%;
}

.card:nth-child(4){
    top: 200%;
    left: 70%;
}


.card .photu{
    width: 25vw;
    height: 38vw;
    background-color: red;
}

#look{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
#sechero {
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 65vh;
    color: rgb(0, 0, 0);
}

.secrow {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    color: rgb(0, 0, 0);
    font-size: 7vw;
}

.secrow #line {
    display: inline-block;
    width: 45%;
    height: 1px;
    background-color: rgb(39, 39, 39);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#sechero .secrow:nth-child(3) {
    justify-content: flex-end;
}
#allwork{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius:50% ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#allwork h4{
    font-weight: 300;
}
#last{
    position: relative;
    display: flex;
    width: 100%;
    height: 120vh;
    background-color: black;
    border-top: solid 1px rgb(157, 157, 157);
}
#last #left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-top: rgb(188, 188, 188) solid 1px;
    border-right: rgb(148, 148, 148) solid 1px;
}
#last #left h1{
    font-size: 3.9vw;
    font-weight: 400;
}
#last #left p{
    margin: 3vh 0;
    font-size: 1.1vw;
    font-weight: 600;
}
#last #left img{
    margin-top: 3vw;
    width: 18vw;
}
#input{
    margin-top: 8vh;
    width: 35vw;
    height: 8vh;
    border-bottom: 1px solid rgb(79, 79, 79) ;
}
#input:hover{
    border-bottom: 1px solid rgb(230, 230, 230) ;
}
input{
    width: 35vw;
    height: 10vh;
    font-size: 1vw;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
#last button{
    cursor: pointer;
    margin: 7vh 0;
    background-color: black;
    color: white;
    width: 10vw;
    height: 7vh;
    font-size: 1.5vw;
    border-radius: 100px;
    border: solid 1px #fff;
}
#last button:hover{
    background-color: #fff;
    color: #000;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
}
#last #right{
    position: relative;
    width: 50%;
    height: 100%;
}
#last #right .lst{
    position: relative;
    height: 13.3vh;
    border-top: rgb(159, 159, 159) solid 1px;
    cursor: pointer;
}
.kholo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0%;
    background-color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.lst:hover .kholo{
    height: 100%;
}
.lst:hover .title h1{
    color: #000;
    margin-left:7% ;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.title h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    color: #fff;
    margin-left: 5%;
    font-size: 3vw;
    font-weight: 500;
}
.lst h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 400;
    font-size: 1.5vw;
}
@media(max-width:500px){
    .row{
        font-size: 5vw;
    }
    #nav img{
        width: 5vw;
    }
    #menu button{
        width: 75px;
        height: 25px;
        font-size: 2.5vw;
        margin-right: 5vw;
    }
    #menu i{
        font-size: 20px;
    }
    .row h1{
        font-weight: 400;
        color: #fff;
    }
    .row #line{
        margin-top: 0vh;
        width: 75%;
    }
    #hero{
        min-height: 40vh;   
    }
    #hero p{
        font-size: 6px ;
        margin-top: 15px;
    }
    #content{
        margin-top: 40vh;
    }
    #desc h1{
        font-size: 8.8vw;
    }
    #slides{
        display: initial;
        background-color: #000;
    }
    .slide{
            overflow: hidden;
            position: relative;
            display: initial;
            align-items: center;
            width: 100%;
            height: 25vh;
            border-bottom: 2px solid #555;
    }
    .slide:hover .tile h3{
        color: #fff;
        margin-left: 15px;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) .8s;
    }

    #vdo{
        display: none;
    }
    .parentcomp{
        margin-right: 10vw;
    }
    .parentcomp p{
        font-size: 3vw;
    }
   
    #allwork{
        width: 30vw;
        height: 17vh;
    }
    .secrow{
        font-size: 6vw;
    }
    .secrow #line{
        margin-top: 1vw;
    }
    #last{
        flex-direction: column;
        background-color: #000;
       min-height: 200vh;
    }
    #last #left{
        width: 100%;
        height: 100%;
    }
    #last #left p{
        font-size: 2.5vw;
        font-weight: 400;
    }
    #last #left h1{
        font-size: 8vw;
    } 
    #last #left img{
        width: 40vw;
    }
    #last button{
        margin: 4vh 0;
        width: 30vw;
        font-size: 3.5vw;
    }
    #orbitalvideo video{
        width: 120%;
    }
    #last #right{
        width: 100%;
    }
    #input{
        width: 80vw;
        margin-top: 0vh;
    }
    input{
        width: 80vw;
        font-size: 4vw;
    }
    .tile{
        height: 10vh;
        border-top: 1px solid rgb(133, 133, 133);
    }
    .tile h3{
        font-size: 5vw;
    }
    
    .info{
        display: none;
    }
    .icon{
        height: 7vw;
        width: 7vw;
    }
    .title h1{
        font-size: 9vw;
    }
    .lst h3{
        font-size: 3vw;
    }
    .textwrapper{
        font-size: 3.5vw;
    }
    .textwrapper span{
        margin: 0 2px;
    }
    .card h2{
        font-size: 3.5vw;
    }
}